<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | <%= t "views.base_title" %></title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1><%= t"views.home" %></h1>
    </div>
  </body>
</html>
