<% provide title: t("admin.categories.add_new_title") %>
<% provide :button_text, t("categories.add_new_button") %>
<h1><%= t "admin.categories.add_new_title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <%= render "form" %>
  </div>
</div>
