<% provide :title, @product.productName %>
<div class="col-md-8">
  <ul class="products" id="current-product">
<<<<<<< 6b3a53b6fcdca1c81a88fdf8df8d3e2dacdd9345
    <%= render "product" %>
  </ul>
=======
    <%= render @product %>
   </ul>
>>>>>>> Fix bug on Modle
</div>
