<footer>
  <small>
    <p><%= t"views.footer_title" %></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("views.aboutus") %></li>
      <li><%= link_to t("views.help") %></li>
      <li><%= link_to t("views.contact") %></li>
    </ul>
  </nav>
</footer>
