<div class="cart">
  <% if current_order.nil? %>
    <p><%= t "order.no_item" %></p>
  <% else %>
    <p style="text-align: center">
      <%= link_to t("order.showdetailorder",
        total_pay: number_to_currency(current_order.total_pay),
        size: current_order.order_details.size),
        order_path(current_order), class: "btn btn-link" %>
    </p>
  <% end %>
</div>
